@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-glass{
    background: rgba( 255, 255, 255, 0.3 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.katex-display {
    text-align: center;
}
