.ProseMirror{
    padding: 20px 20px;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: auto;
    outline: none;
}

.ProseMirror p {
    margin: 0 0;
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 2px 8px;
    border: none;
    border-radius: 50px;
    background-color: #000000;
    /* capitalise */
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover{
    background-color: #5922CF;
}